@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>Default users with roles</h2>

    <dl>
        <dd class="mb-0">
            Admin:
        </dd>
        <dt class="mb-1">
            admin@gmail.com
            <br/>
            _Aa123456
        </dt>

        <dd class="mb-0">
            Manager:
        </dd>
        <dt class="mb-1">
            manager@gmail.com
            <br/>
            _Aa123456
        </dt>

        <dd class="mb-0">
            Employee:
        </dd>
        <dt class="mb-1">
            employee@gmail.com
            <br/>
            _Aa123456
        </dt>
    </dl>
</div>
